@using Blog.ViewModels
@using System.Security.Claims
@model List<PostCommentsViewModel>
@{
    var blackTheme = "White";
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}
<style>
    .comments-section {
        margin-top: 20px;
    }

    .comment-card {
        max-width: 600px;
        margin: 10px auto;
    }

    .profile-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .username {
        font-size: 1.2em;
        font-weight: bold;
        margin: 0;
    }

    .comment-date {
        font-size: 0.9em;
        color: #888;
    }

    .comment-content p {
        margin: 0;
        font-size: 1em;
    }

    .comment-image {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        margin-top: 10px;
    }
</style>

<div class="comments-section container">
    
    @foreach (var comment in Model)
    {
            <div class="card comment-card">
                <div class="card-body"style="background:@blackTheme">
                    <div class="comment-header d-flex align-items-center mb-3">
                        <img src="@comment.ProfileImage" alt="@comment.UserName's profile picture" class="profile-image me-3" />
                        <div class="comment-user-details">
                            <h5 class="username m-0">@comment.UserName</h5>
                            <p class="comment-date m-0">@comment.CreatedAt.ToString("MMMM dd, yyyy HH:mm")</p>
                        </div>
                    @if (userId == comment.UserId)
                    {
                                            <a class="text-danger" style="position: absolute;right: 30px;top: 40px;" asp-action="DeleteComment" asp-controller="Post" asp-route-id="@comment.Id">
                                                      <i class="fas fa-times text-danger" style="font-size: 1.5em;"></i>
                                            </a>
                                            <a class="text-primary" style="position: absolute;right: 60px;top: 40px;" asp-action="EditComment" asp-controller="Post" asp-route-id="@comment.Id">
                                                      <i class="fa-solid fa-pen-to-square" style="font-size: 1.5em;"></i>
                                            </a>
                    }
                    </div>
                    <div class="comment-content">
                        <p>@comment.Content</p>
                    @if (!string.IsNullOrEmpty(comment.CommentImage))
                    {
                                <img src="@comment.CommentImage" alt="Attached image for the comment" class="comment-image" />
                    }
                    </div>
                </div>
            </div>
    }
</div>
